.bold {
    font-weight: bold;
}
.red {
    color : red;
}
.blue {
    color : #7f7fd8;
}
.bgBlue{
    background-color : #7f7fd8;
}

.Optima {
    font-family: Optima;
}
body {
    padding-bottom: 70px;
    font-family: Optima;
}

.footer-navbar {
    background-color: #7f7fd8; /* #e6f0ff;*/
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
}


.text-center-th th {
    text-align: center !important;
}

